@import "tailwindcss";

:root {
  --background: #020202;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #000;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
